body { 
  background-color: #05613D;
}

.header {
  width:90%;
  height:27.3vw;
  background-color: #05613D;
  border-radius:5px;
  border-color: #91D4CC;
  border:2px solid #91D4CC;
  overflow:hidden;
  margin:auto;
  padding:10px 5px 10px 10px;
  display:flex;
  flex-flow:column, nowrap;
}

#maincell {
  width:33%;
  border:2px solid #91D4CC;
}
#maincell h1 {
  color: #91D4CC;
  font-size:5vw;
  line-height:5vw;
  font-family: "Source Code Pro", monospace;
  text-align:left;
  position:relative;
  top:-3.8vw;
  padding:0.4vw;
}
#maincell h2 {
  font-family:figtree;
  font-size:2vw;
  font-weight:400;
  position:relative;
  top:-5.5vw;
  text-align:center;
  color: #91D4CC;
  line-height:2vw;
  padding:1vw;
  margin:5px;
  border:2px solid #91D4CC;
  border-radius:100%;
}

#maincell h3 {
  font-size:1vw;
  font-family:figtree;
  text-transform:uppercase;
  font-weight:400;
  text-align:right;
  color:#91D4CC;
  position:relative;
  top:-4.5vw;
  padding:4px;
}

#gencell {
  width:33%;
  background-image: linear-gradient(transparent 45%, #91D4CC 45% 55%, transparent 50%), linear-gradient(90deg, transparent 45%, #91D4CC 45% 55%, transparent 50%);
  background-size:1.4vw 1.4vw;
  background-position:3vw 3vw;
  border-right:1px solid #91D4CC;
  border-top:2px solid #91D4CC;
  border-left:1px solid #91D4CC;
  border-bottom:2px solid #91D4CC;  
}


h1 { 
    font-size: 64px; 
    font-family:"Bimbo-Sharpie"; 
    text-align: center; 
    font-weight:700; 
    color:#081297;
    line-height:64px;
 }
h2 {
    font-size: 48px;
    font-family: "Figtree", serif;
    line-height:48px;
}

p { 
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
.figtree-regular {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Bimbo-Sharpie";
    src: url(https://raw.githubusercontent.com/heyericamay/slowskills/refs/heads/main/fonts/Bimbo%20Sharpie%20Trial.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
  }
.hem {
  font-family: "Kranky", serif;
  font-size:60px;
  letter-spacing:15px;
  color:#054776;
  width:100%;
  overflow:hidden;
  z-index:1;
}
.hem #reveal {
  background:#FFF8EB;
  width:100%;
  height:50px;
  z-index:1000;
  position:relative;
  top:-50px;
  left:0%;
  animation: sewing linear 10s infinite;
}
.hem h1 span span {
  opacity:0;
  animation: stitch 0.5s linear infinite;
}
@keyframes sewing {
  0% { left: 0%; }
  10% { left:10%; }
  20% {left: 20%; }
  30% {left: 30%; }
  40% {left: 40%; }
  50% {left: 50%; }
  60% {left: 60%; }
  70% {left:70%; }
  80% {left: 80%; }
  90% {left:90%; }
  100% {left:100%; }
}
.logoimg {
  width:503px;
  height:184px;
  background:url(https://raw.githubusercontent.com/heyericamay/slowskills/refs/heads/main/slowskillslogo.png);
}
.js-scroll {
  width: 100%;
  height: 300px;
  margin-top:50px;
  background-color: #DADADA;
  transition: background-color 500ms;
}
.js-scroll.scrolled {
  background-color: aquamarine;
}
