:root {
  --main-bg:#05613D;
  --secondary:#91D4CC;
}


body { 
  background-color:var(--main-bg);
}

.header {
  width:90vw;
  height:30.5vw;
  background-color:var(--main-bg);
  border-radius:5px;
  border-color: var(--secondary);
  border:2px solid var(--secondary);
  overflow:hidden;
  margin:4vw auto;
  padding:1vw;
  display:flex;
  flex-flow:column, nowrap;
}

#maincell {
  width:32vw;
  height:30vw;
  padding:0.1vw;
  border:2px solid var(--secondary);
}
#maincell h1 {
  color:var(--secondary);
  font-size:5vw;
  line-height:5vw;
  font-family: "Source Code Pro", monospace;
  text-align:left;
  position:relative;
  top:-3.8vw;
  padding:0.4vw;
}
#maincell h2 {
  font-family:figtree;
  font-size:2vw;
  font-weight:400;
  position:relative;
  top:-5.5vw;
  text-align:center;
  color: var(--secondary);
  line-height:2vw;
  padding:1vw;
  margin:5px;
  border:2px solid var(--secondary);
  border-radius:100%;
}

#maincell h3 {
  font-size:1vw;
  font-family:figtree;
  text-transform:uppercase;
  font-weight:400;
  text-align:right;
  color:var(--secondary);
  position:relative;
  top:-4.5vw;
  padding:4px;
}

#gencell {
  width:31.9vw;
  height:30vw;
  padding:0.1vw;
  background-image: linear-gradient(transparent 45%, var(--secondary) 45% 55%, transparent 50%), linear-gradient(90deg, transparent 45%, #91D4CC 45% 55%, transparent 50%);
  background-size:1.4vw 1.4vw;
  background-position:2vw 0.85vw;
  border-right:1px solid var(--secondary);
  border-top:2px solid var(--secondary);
  border-left:1px solid var(--secondary);
  border-bottom:2px solid var(--secondary);  
}


h1 { 
    font-size: 4vw; 
    font-family:"Source Code Pro", monospace; 
    text-align: center; 
    font-weight:700; 
    color:var(--secondary);
 }
h2 {
    font-family: "Figtree", serif;
    line-height:3vw;
    font-size:3vw;
    font-weight:400;
    color: var(--secondary);
}

p { 
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
.figtree-regular {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Bimbo-Sharpie";
    src: url(https://raw.githubusercontent.com/heyericamay/slowskills/refs/heads/main/fonts/Bimbo%20Sharpie%20Trial.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
  }
.purpose {
  width:90vw;
  padding:0.4vw;
  margin:auto;  
}

.logobar {
  width:80vw;
  margin:auto;
  padding:0.5vw;
  background:rgba(255,255,255,0.5);
  border-radius:5vw;
  text-align:center;
  display:flex;
  flex-flow: nowrap;
  justify-content:center;
  gap:5vw;
}
.logobar img {
  max-height:5vw;
}