:root {
  --main-bg:#05613D;
  --secondary:#91D4CC;
  --highlight:#F0CF65;
}
* {
  margin: 0;
  box-sizing: border-box;
}
/* Chrome, Edge and Safari */
::-webkit-scrollbar {
  height: 15px;
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--main-bg);
  border: 2px solid var(--main-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color:var(--highlight);
  border: 2px solid var(--secondary);
}
html{
  scroll-behavior: smooth;
}

body { 
  background-color:var(--main-bg);
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom:10%;
}

.header {
  width:87.6vw;
  height:28vw;
  background-color:var(--main-bg);
  border-radius:5px;
  border-color: var(--secondary);
  border:2px solid var(--secondary);
  overflow:hidden;
  margin:2vw auto;
  padding:1vw;
  display:flex;
  flex-flow:row nowrap;
}


#maincell {
  width:32vw;
  height:27.8vw;
  padding:0.1vw;
  border:2px solid var(--secondary);
}
#maincell h1 {
  color:var(--secondary);
  font-size:5vw;
  line-height:5vw;
  font-family: "Source Code Pro", monospace;
  text-align:left;
  position:relative;
  top:-3.8vw;
  padding:0.4vw;
}
#maincell h2 {
  font-family:"Figtree", serif;
  font-size:2vw;
  font-weight:400;
  position:relative;
  top:-5vw;
  text-align:center;
  color: var(--secondary);
  line-height:2vw;
  padding:1.5vw 2vw;
  margin:5px;
  border:2px solid var(--secondary);
  border-radius:100%;
}

#maincell h3 {
  font-size:1vw;
  font-family:"Figtree", serif;
  text-transform:uppercase;
  font-weight:400;
  text-align:right;
  color:var(--secondary);
  position:relative;
  top:-5vw;
  padding:4px;
}

#gencell {
  width:27.8vw;
  height:27.8vw;
  padding:0.1vw;
  background-image: linear-gradient(transparent 45%, var(--secondary) 45% 55%, transparent 50%), linear-gradient(90deg, transparent 45%, #91D4CC 45% 55%, transparent 50%);
  background-size:1.4vw 1.4vw;
  background-position:0.7vw 0.7vw;
  border:2px solid var(--secondary);
}

@media (max-width: 800px) {
  .header {
    flex-flow: column nowrap;
    height: 24vw;
    overflow:hidden;
  }
  #maincell,#gencell {
    width: 87vw;
    height:17.5vw;
  }
  #maincell h1 {
    text-align: center;
    font-size:7vw;
  }
  #maincell h2 {
    font-size:3vw;
    text-align: center;
   }
  #maincell h3 {
    top:-7vw;
    font-size:1vw;
  }
  #gencell:nth-of-type(2) {
    display:none;
  }
}


h1 { 
    font-size: 4vw; 
    font-family:"Source Code Pro", monospace; 
    text-align: center; 
    font-weight:700; 
    color:var(--secondary);
 }
h2 {
    font-family: "Figtree", serif;
    line-height:3vw;
    font-size:3vw;
    font-weight:400;
    color: var(--secondary);
}
h3{
  font-family:"figtree",serif; 
  font-size:2em;
}

h6 {
  font-size:0.8em;
  line-height:0.8em;
  text-transform:uppercase;
  font-weight:700;
  font-family:"figtree", serif;
  color:var(--secondary);
}

p { 
    font-size: 1em; 
    font-family:"Figtree", serif;
    text-align: left;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
  }
.figtree-regular {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Bimbo-Sharpie";
    src: url(https://raw.githubusercontent.com/heyericamay/slowskills/refs/heads/main/fonts/Bimbo%20Sharpie%20Trial.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
  }

footer {
  background:var(--secondary);
  width:100%;
  bottom:0;
  left:0;
  position:fixed;
  display:flex;
  flex-flow:row nowrap;
}

#footertxt {
  width:70%;
  font-size:0.8em;
  font-family: "Figtree", serif;
  color:black;
  text-align:left;
  padding:2vw;
}

footer a {
  color:var(--main-bg);
  text-decoration:none;
  font-weight:700;
  border-bottom:1px solid var(--highlight);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

footer a:hover {
  background:var(--highlight);
}


#logosbar {
  background:white;
  width:30%;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  justify-content: center;
}

#logosbar img {
  max-height:4vw;
  margin:0.5vw;
}

section {
  width:90%;
  height:auto; 
}

#about {
  padding:5%;
  display:flex;
  justify-content: center;
  flex-flow:row nowrap;
  gap:1vw;
}



.abtdesc {
  padding:5vw;
  font-family: "Figtree", serif;
  background: #fffbf2;
  max-width:40%;
}

.abt2 {
  padding:2vw;
  font-family: "Figtree", serif;
  background: var(--secondary);
  color:var(--main-bg);
  font-size:0.8em;
  text-align:center;
  max-width:10%;
}

.abt2 a { 
  color:var(--main-bg);
  text-decoration:none;
  font-weight:700;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.abt2 a:hover {
  background:var(--highlight);
}
.abt2 span {
  font-size:0.7em;
  font-family: "Figtree", serif;
  text-align:left !important;
}

#abtpic {
  width:20%;
  background-image:url(alejo-reinoso--IlmDnJg5cg-unsplash.jpg);
  background-size:cover;
  padding:0.5vw;
}

.abtstat {
  padding:5px;
  font-family: "Figtree", serif;
  font-size:12px;
  background: var(--highlight);
  color:var(--main-bg);
  max-width:10%;
  height:fit-content;
  text-align:center;
}
.abtstat span {
  font-size:24px;
  text-align:center;
  display:block;
  font-family:"Source Code Pro", monospace;
}

@media (max-width: 800px) {
  #about {
    flex-flow: row wrap;
  }
   .abtdesc, .abt2{
    max-width: 80%;
  }
}



#sourcecode {
  font-family: 'Source Code Pro', monospace;
  font-weight:700;
  font-size:1em;
  color:var(--secondary);
  margin:0px 2px;
}

.nav {
  text-align:center;
  position:sticky;
  top:0;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
}

.nav a {
  font-size:1.5em;
  padding:4px 12px;
  font-family: "Figtree", serif;
  border:1px solid var(--secondary);
  border-radius:100%;
  text-decoration: none;
  color:var(--secondary);
  -webkit-transition:ease-in-out 0.3s;
  transition:ease-in-out 0.3s;
  margin:2px 4px;
  background-color: var(--main-bg);
}
.nav a:hover {
  background-color: var(--highlight);
  color:var(--main-bg);
}

.nav a:active {
  background-color: var(--secondary);
  color:var(--main-bg);
}

.nav a:visited {
  text-decoration: wavy underline;
}

#back {
  position:absolute;
  top: 0.5vw;
  left: 0.5vw;
  color:white;
  font-family:"source Code Pro", monospace;
}
#back a {
  color:white;
  text-decoration: none;
}


/*workshops page*/
 /* Style the tab */
 .tab {
  display:flex;
  flex-flow:row wrap; 
  color:var(--secondary);
  z-index:2000;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border:none;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.3s;
  font-family: 'Source Code Pro', monospace;
  font-weight:400;
  font-size:1em;
  color:var(--secondary);
  margin:10px;

}

/* Change background color of buttons on hover */
.tab button:hover {
  color:var(--highlight);
  border:2px solid var(--highlight);
}

/* Create an active/current tablink class */
.tab button.active {
  border:2px solid var(--highlight);
  color:var(--highlight);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 4px 8px;
  background-color: var(--secondary);
  min-height:60vh;
  padding:2vw;
  z-index:1000 !important;
  margin-bottom:50px;
} 

.tabcontent h3 {
  color:var(--main-bg);
}
.course #thumb img {
  max-width:20vw;
  height:auto;
}

.course {
  width:80vw;
 }

#desc {
  display:inline;
  margin:4px;
  max-width:25vw;
  text-align:left;
  font-size:1em;
  font-family:"Figtree", serif;
  padding:20px;
  border:2px solid var(--main-bg);
}
#deet {
  display:inline;
  margin:4px;
  max-width:20vw;
}

#generally {
  margin:auto;
  width:80vw;
}

#generally > h3 {
  color:var(--highlight);
  font-weight:400;
  text-align:center;
  padding: 12px 24px;
  border: 3px solid var(--highlight);
  border-radius:100%;
}

.form {
  margin:auto;
  background:white;
  padding:10px;
  font-family: "Figtree", serif;
  font-size:1em;
  font-weight:700;
  border:2px solid var(--highlight);
  color:var(--main-bg);
}

.form button {
  background-color: inherit;
  border:2px solid transparent;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.3s;
  font-family: 'Source Code Pro', monospace;
  font-weight:700;
  font-size:1em;
  text-align: center;
  text-transform:uppercase;
  color:var(--main-bg);
  margin:auto;
}

.form button:hover {
  color:var(--highlight);
  border:2px solid var(--highlight);
}

.form button.active {
  border:2px solid var(--highlight);
  color:var(--highlight);
}

form input, select, textarea {
  border:2px solid var(--highlight);
  margin:0px 5px;
  padding:5px;
  font-family:'Source Code Pro', monospace;
  min-width:15vw;
}

form option.active {
  background-color: var(--secondary);
}

.boule {
  font-family: 'Source Code Pro', monospace;
  font-weight:400;
  font-size:1em;
  border:2px solid var(--highlight);
  color:var(--highlight);
  border-radius: 100%;
  padding: 6px 12px;
  float:right;
  margin:10px auto;
  text-align:center;
  display:block;
  background:var(--main-bg);
}

.gform a {
  color:var(--main-bg);
  text-decoration:none;
  font-weight:700;
  border-bottom:1px solid var(--highlight);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.gform a:hover {
  background:var(--highlight);
}

.gform {
  width:80%;
  height:500px;
  padding:1vw;
  margin:auto;
  background:whitesmoke;
  font-size:0.8em !important;
  display:flex;
  flex-flow:row wrap;
}

.gform span {
  font-family: "Figtree", serif;
  color:var(--main-bg);
  font-size:1.5em;
  text-align:left;
  width:100%;
  display:block;
  margin-bottom: 10px;;
}
.gform p {
  font-family: "Figtree", serif;
  color:#000;
  max-width:40%;
  height:80%;
  margin:0px 5px;
  padding:5%;
  font-size:1em;
  line-height:1.5em;
  background:white;
}

.gform iframe {
  font-size:1em !important;
  font-family: "Figtree", serif;
  max-width:45%;
  padding:1vw;
}

@media screen and (max-width: 800px) {
  .gform {
    flex-flow: column nowrap;
    width:90%;
    height:100% !important;
  }
  .gform iframe {
    max-width:100%;
    height:100%;
    font-size:0.8em !important;
  }
  .gform p {
    max-width:100%;
    font-size:1em;
    padding:2vw;
  }
  
}

.facilitators {
  width:80%;
  margin:auto;
  background: #fffbf2;
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 0.5vw;
grid-row-gap: 0.5vw;
padding:1vw;  
}


.facilitators h3 {
  color:var(--main-bg);
  font-weight:400;
  font-size:1.8em;
  text-align:center;
  grid-area: 1 / 1 / 2 / 5;
  line-height: 100%;
}

#side { 
  padding:1.5vw;
  font-family: "Figtree", serif;
  font-size:0.8em;
  line-height:1.5em;
  background: whitesmoke;
  text-align:left;
  grid-area: 2 / 1 / 8 / 2;
 }

#info {
  grid-area: 2 / 2 / 8 / 5;
  font-family: "Figtree", serif;
  font-size:0.8em;
  line-height:1.5em;
  padding:1vw;
}
#info h4 {
  color:var(--main-bg);
  font-weight:400;
  font-size:1.2em;
  text-align:left;
  margin-bottom:10px;
}
